name: build

on:
  push:
  schedule:
    - cron: '30 20 * * */2'

env:
  IMAGE_FQDN: ghcr.io/postgres-operator
  BASE_VERSION: 5.8.6
  BUILD_VERSION: 1
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        # https://github.com/docker/build-push-action/issues/761#issuecomment-1575006515
        with:
          driver-opts: |
            image=moby/buildkit:v0.10.6
      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}
      # push only on main
      - name: Build
        uses: docker/build-push-action@v3
        with:
          context: ./
          platforms: linux/amd64
          push: true
          tags: |
            ${{ env.IMAGE_FQDN }}:${{ env.BASE_VERSION }}-${{ env.BUILD_VERSION }}
          build-args: |
            FROM_IMAGE=registry.developers.crunchydata.com/crunchydata/postgres-operator:ubi9-${{ env.BASE_VERSION }}-0
